header {
    position: relative;
    background-image: url(geometrical-lines-patterned-blue-background-2022-12-16-00-26-31-utc.jpg);
    background-size: cover;
    background-position: center;
    color: $secondary-color;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-container{
        padding: 10%;
        h1, p {
            width: 100%;
            text-align: center;
            color: white;
        }
        h1 {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: .125rem;
        }
        p {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .call-to-action{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        .cta-content{
            display: flex;
            align-items: center;
            p{
                font-size: 1.5rem;
                margin-right: 1rem;
                color: white;
            }
            button{
                font-size: 1.5rem;
                background-color: $main-color;
                color: white;
                padding: .5rem 1rem;
                border-radius: .5rem;
                border: none;
                margin-left: 1rem;
            }
        }

    }
}
