html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333333;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  position: relative;
  background-image: url(geometrical-lines-patterned-blue-background-2022-12-16-00-26-31-utc.jpg);
  background-size: cover;
  background-position: center;
  color: #333333;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-container {
  padding: 10%;
}
header .header-container h1, header .header-container p {
  width: 100%;
  text-align: center;
  color: white;
}
header .header-container h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.125rem;
}
header .header-container p {
  font-size: 1.5rem;
  font-weight: 400;
}
header .call-to-action {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
header .call-to-action .cta-content {
  display: flex;
  align-items: center;
}
header .call-to-action .cta-content p {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: white;
}
header .call-to-action .cta-content button {
  font-size: 1.5rem;
  background-color: #2e7eff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 1rem;
}

main {
  padding: 5rem 0;
}
main .about-me-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
main .about-me-container .about-me-text {
  width: 60%;
  padding-right: 2rem;
}
main .about-me-container .about-me-text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
main .about-me-container .about-me-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
main .about-me-container .about-me-image {
  width: 40%;
  height: auto;
  padding: 2rem;
}
main .about-me-container .about-me-image img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
main .mission-vision-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
main .mission-vision-container .mission {
  width: 50%;
  padding-right: 2rem;
}
main .mission-vision-container .mission h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
main .mission-vision-container .mission p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
main .mission-vision-container .vision {
  width: 50%;
  padding-left: 2rem;
}
main .mission-vision-container .vision h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
main .mission-vision-container .vision p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

footer {
  background-color: #2e7eff;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
footer p {
  margin-bottom: 0;
}